$transparent: #ffffff00;
$blue-color: #0f4eab;
$blue-light-color: #2e73ff;
$blue-dark-color: #003a91;
$orange-color: #ff8033;
$red-color: #e33e53;
$white-color: #ffffff;
$dark-color: #000000;
$grey-color: #dadeea;
$grey-light-color: #f5f5f5;
$grey-dark-color: #9ba2b6;