// @use "./topHeader.scss";
@use "./home.scss";
@use "../ui/navBar.scss";
@use "./login.scss";
@use "./landingPage.scss";


body{
  margin: 0;
  padding: 0;
}

/* Classe pour le thème clair */

.theme-light {
    background-color: white;
    color: black;
    li a {
        color: black;
    }
  }
  
  .theme-dark {
    background-color: black;
    color: white;
    li a {
        color: white;
    }
  }