// @import "./topHeader.scss";
@import "./variables";
@import "./layout";
@import "./home.scss";
@import "../ui/navBar.scss";
@import "./login.scss";
@import "./landingPage.scss";
@import "./MainLayout.scss";
@import "./sideBar.scss";
@import "./stream.scss";
@import "./collection.scss";
@import "./ip-list.scss";


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // position: relative;
  overflow: hidden;
  // text-align: center;
  // color: white;
  background: url("../../images/bg-landingpage.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Classe pour le thème clair */

.theme-light {
  background-color: transparent;
  color: black;
  filter: saturate(50%) blur(70%);
  li a {
    color: black;
  }
}

.theme-dark {
  background-color: transparent;
  color: white;
  li a {
    color: white;
  }
}

.b-heading {
  border-bottom: 1px solid black;
  padding-bottom: 6px;
}